[submodule "resource-packs"]
	path = resource-packs
	url = https://github.com/bedrocktweaks/resource-packs
[submodule "behaviour-packs"]
	path = behaviour-packs
	url = https://github.com/bedrocktweaks/behaviour-packs
[submodule "crafting-tweaks"]
	path = crafting-tweaks
	url = https://github.com/BedrockTweaks/crafting-tweaks.git
