[submodule "resource-packs"]
	path = resource-packs
	url = https://github.com/BEComTweaks/resource-packs.git
[submodule "behaviour-packs"]
	path = behaviour-packs
	url = https://github.com/BEComTweaks/behaviour-packs.git
[submodule "crafting-tweaks"]
	path = crafting-tweaks
	url = https://github.com/BEComTweaks/crafting-tweaks.git
